node_modules/
dist/
dist-ssr/
build/
.vite/
.env
.env.*
*.local
*.log
.DS_Store
Thumbs.db
.tmp-*
tmp/
temp/

# vercel
.vercel/

# editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
